<!DOCTYPE html>

<header>
<section class="card">
    <h2 class="title">LUGARES TURÍSTICOS DE HONDURAS.</h2>
    <img class="card-image" src="https://www.diez.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=vHux79t4BgTLfftB3QljD8$daE2N3K4ZzOUsqbU5sYtTZz1sc6PV7IW0kfihA_pO6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="turisticos"> <img/>
    <h2 class="description-title">Sobre Nosotros</h2>
    <p class="description">Si estás pensando donde pasar unas vacaciones magníficas y variadas tienes que venir a Honduras, un país centroamericano lleno de innumerables lugares turísticos que puedes visitar para pasar unos entretenidos días de descanso.</p>
    <p class="description">Igualmente es un país lleno de mucha cultura y tradición como la Fortaleza de Santa Bárbara, las Alfombras de Comayagua, Museo para la Identidad Nacional, entre otros. Asimismo cuenta con buenos hospedajes y restaurantes, así que estarás muy cómodo en este país aparte que los precios son muy accesibles.</p>
    <p class="description">Así que sin más, empecemos con el listado de los mejores lugares turísticos de Honduras:</p>
</section>
</header>

<body>
  <section class="card">

    <h2 class="description-title">1. ISLAS DE LA BAHIA.</h2>
    <img class="card-image" src="https://static9lonelyplanetes.cdnstatics.com/sites/default/files/styles/max_650x650/public/imprescindibles_images/Honduras_Islas%20de%20la%20Bahia_Roatan_GettyRF_499519870_sorincolac_Getty%20Images.jpg?itok=8cgGiOB1" alt="IslasBahia"> <img/>
    <p class="description">Sin duda uno de los más paradisiacos lugares turísticos de Honduras, un archipiélago caribeño rodeado de aguas tibias y cristalinas, donde sumergirse en verdaderos tapices de corales y una extraordinaria biodiversidad marina.</p>
    <p class="description">Tres son sus islas principales: Utila, Guanaja y Roatán, la primera conocida por sus idílicos escenarios marinos donde realizar snorkel entre cientos de especies de peces, manatís y delfines; la segunda también paradisiaca es famosa por sus canales que atraviesan la ciudad a modo de calles, mientras que la última, Roatán, es la más grande y visitada, con espectaculares playas de aguas turquesas como West End y una inagotable oferta de entretención ligada a su amplio desarrollo turístico.</p>


    <h2 class="description-title">1. TELA.</h2>
    <img class="card-image" src="https://vuela.tag.com.gt/hs-fs/hubfs/20170523-Vuelos-a-Honduras-10-lugares-tur%C3%ADsticos/Vuelso%20a%20Honduras%20Cayos%20Cochinos.jpg?width=640&name=Vuelso%20a%20Honduras%20Cayos%20Cochinos.jpg" alt="tela"> <img/>
    <p class="description">Pequeña ciudad puerto considerado uno de los balnearios costeros principales del Caribe Hondureño, hogar de playas de ensueño y una desarrollada infraestructura turística característica por sus hoteles de Lujo.</p>
    <p class="description">Sumado a sus playas de arenas blancas y aguas turquesas, Tela presenta el atractivo de sus entornos con parques nacionales como Jeanette Kawas o Punta Izopo junto a numerosas villas de comunidades garífunas, guardianas de un invaluable patrimonio cultural, figurando entre ellas San Juan, Triunfo de la Cruz y Tornabé, las más grande de éstas.</p>


    <h2 class="description-title">3. CAYOS COCHINOS.</h2>
    <img class="card-image" src="https://garifunatours.com/wp-content/uploads/2014/09/cayos-cochinos-aguas-turquesa.jpg" alt="CayosCochinos"> <img/>
    <p class="description">Otro grupo de islas que destacan por sus escenarios caribeños, conformados por dos pequeñas islas principales: Cayo Menor y Cayo Mayor, y 13 cayos más pequeños de origen coralino</p>
    <p class="description">El encanto de estas islas lo constituyen tanto sus escenarios marinos atiborrados de arrecifes de coral como sus interminables playas de arenas blancas, muchas de ellas prácticamente vírgenes.</p>


    <h2 class="description-title">4. LA CEIBA.</h2>
    <img class="card-image" src="https://vuela.tag.com.gt/hs-fs/hubfs/20170523-Vuelos-a-Honduras-10-lugares-tur%C3%ADsticos/Vuelos%20a%20Honduras%20La%20Ceiba.jpg?width=640&name=Vuelos%20a%20Honduras%20La%20Ceiba.jpg" alt="LaCeiba"> <img/>
    <p class="description">Situada prácticamente al frente de Cayos Cochinos, corresponde a la tercera ciudad más grande de Honduras, conocida por su litoral norte donde se extienden hermosas playas que dan al Mar Caribe.</p>
    <p class="description">Otro de sus atractivos corresponden a sus entornos, contando tanto con el Parque Nacional Pico Bonito, considerado el más biodiverso del país, como con una serie de aldeas garífunas, tales como Sambo Creek y Corozal, donde disfrutar de la comida típica regional y empaparse de su cultura.</p>

    <h2 class="description-title">5. RUINAS DE COPÁN.</h2>
    <img class="card-image" src="https://vuela.tag.com.gt/hubfs/20170523-Vuelos-a-Honduras-10-lugares-tur%C3%ADsticos/Vuelos%20a%20Honduras%20Ruinas%20de%20cop%C3%A1n.jpg" alt="RuinasCopan"> <img/>
    <p class="description">El conjunto que hoy se puede visitar es bastante extenso, abarcando tanto el área conocida como “Conjunto Principal” que aloja a la antigua acrópolis, el “Conjunto de Sepulturas” correspondiente a la zona de residencia de la clase dirigente de Copán y el “Conjunto de los Sapos” un poco más alejado de los demás. Dos museos emplazados en el Parque Arqueológico, terminan por complementar la experiencia de descubrir el mundo maya.</p>


    <h2 class="description-title">6. BIOSFERA DEL RÍO PLÁTANO.</h2>
    <img class="card-image" src="https://vuela.tag.com.gt/hs-fs/hubfs/20170523-Vuelos-a-Honduras-10-lugares-tur%C3%ADsticos/Vuelos%20a%20honduras%20R%C3%ADo%20Platano.jpg?width=602&height=290&name=Vuelos%20a%20honduras%20R%C3%ADo%20Platano.jpg" alt="Biosfera"> <img/>
    <p class="description">Enorme reserva natural declarada Patrimonio de la Humanidad por la UNESCO, comprendiendo un territorio montañoso que desciende en pendiente hasta la costa caribeña, siendo guardiana de uno de los últimos vestigios de bosque lluvioso tropical de Centroamérica.</p>
    <p class="description">La Reserva es hogar tanto de una extraordinaria biodiversidad de flora y fauna, como de comunidades indígenas que mantienen vivas sus antiguas costumbres. El año 2012 fue descubierta entre su frondoso bosque “Ciudad Blanca”, un hallazgo que revolucionó a la comunidad mundial de arqueólogos, de la cual se presupone un tamaño tres veces más grande que las Ruinas de Copán, desafortunadamente pasaran muchos años antes que esta última sea abierta al turismo.</p>

    <h2 class="description-title">7. FORTALEZA SAN FERNANDO DE OMOA.</h2>
    <img class="card-image" src="https://vuela.tag.com.gt/hs-fs/hubfs/20170523-Vuelos-a-Honduras-10-lugares-tur%C3%ADsticos/Vuelos%20a%20Guatemala%20Fortaleza%20Omoa.jpg?width=640&name=Vuelos%20a%20Guatemala%20Fortaleza%20Omoa.jpg" alt="Fortaleza"> <img/>
    <p class="description">Ubicada en la localidad de Omoa corresponde posiblemente a la estructura de defensa colonial más importante de toda Centroamérica, una enorme construcción en piedra terminada en 1775 con el fin de proteger el norte de Honduras de corsarios y piratas. Hacia fines de la época colonial y con el inicio de la independencia fue ocupada como un lúgubre presidio, al cual se le atribuyen terribles torturas de prisioneros.</p>
    <p class="description">Hoy sobrevive prácticamente toda la estructura original, siendo posible de visitar tanto sus numerosos recintos como un museo contiguo que relata los acontecimientos más importantes de su historia.</p>

    <h2 class="description-title">8. LAGO DE YOJOA.</h2>
    <img class="card-image" src="https://complicesenaventura.com/wp-content/uploads/2019/08/Yojoa-16-08-19-1140x596.jpg" alt="lago"> <img/>
    <p class="description">Otros de los lugares turísticos de Honduras que encantan por sus escenarios naturales, correspondiendo a un lago de 16 km de largo y 6 km de ancho, rodeado de enormes montañas, a través de cuyas laderas descienden parques nacionales tales como el Parque Nacional Azul Meambar y el de Santa Bárbara.</p>
    <P class="description">El sitio con un amplio desarrollo turístico cuenta con numerosos restaurantes, hoteles y centros recreativos, presentando además el atractivo de su cercanía con la capital Tegucigalpa y la ciudad colonial de Comayagua.</P>

    <h2 class="description-title">9. CUEVAS DE TALGUA.</h2>
    <img class="card-image" src="https://www.hondurastips.hn/wp-content/uploads/2016/01/FOTOPORTADADECUEVAS.png" alt="talgua"> <img/>
    <p class="description">Misterioso sitio arqueológico ubicado en la Sierra de Agalta, lugar donde se encontraron cientos de osamentas humanas y restos de vasijas escondidas entre las formaciones rocosas de una cueva, datadas de aproximadamente el año 1.000 a. C.</p>
    <p class="description">Hoy un circuito de 500 metros permite adentrarse en la profundidad de la roca, entre estalactitas y estalagmitas de singulares formas, pasando por la cámara ritual donde algunas osamentas se han logrado conservar en el tiempo al estar cubiertas por una capa de calcio resplandeciente.</p>

    <h2 class="description-title">10. FORTALEZA SANTA BARBARA.</h2>
    <img class="card-image" src="https://lanzateyviaja.com/wp-content/uploads/2019/06/fuerte-de-santa-barbara-honduras.jpg?ezimgfmt=ng:webp/ngcb10" alt="FortalezaSantaBarbara"> <img/>
    <p class="description">Conocida también como El Castillo conseguirás en la ciudad de Trujillo a la Fortaleza de Santa Bárbara, la primera construcción ejecutada para fines militares por los españoles la cual fue escenario de numerosas batallas entre los colonos y los piratas.</p>
    <p class="description">Aquí encontrarás un museo donde verás balas de cañón, grilletes, espadas, imágenes religiosas, alfarería, piezas arqueológicas pertenecientes a los aborígenes y maquetas de cómo era la fortaleza en 1600. Y tendrás una vista espectacular de la bahía Trujillo si subes a la parte alta de la fortaleza.</p>

    <p class="description-final">Espero lo hayas disfrutado!!</p>

  </section>

</body>